#Name {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
        }
        #Subheading {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
        }
        #Socials {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align:left;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            width: 400px;
            
        }
        #About {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align:center;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            width: 750px;
        }
        #Education {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: left;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            width: 800px;
        }
        #Coursework {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: left;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            width: 400px;
        }
        #Skills{
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: left;
            margin-left: 20px;
            margin-right: 20px;
        }
        #WorkExperience {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: left;
            margin-top:20px;
            margin-left: 20px;
            margin-right: 20px;
            width: 1150px;
        }
        #Projects {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: left;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }
        img {
            border-radius: 50%;
            display: block;
            margin: 0 auto 20px auto;
        }
        li {
            margin-bottom: 10px;
        }
        a:hover {
            text-decoration: underline;
        }